/* Restante do código... */

header {
    text-align: center;
    background-color: #f8f9fa;
    padding: 2em;
    margin-bottom: 3rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    margin-bottom: 0.5em;
  }
  
  header p {
    color: #6c757d;
  }
  